body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-page {
    min-height: 100vh;
    background-color: #c6c6c6;
}

.error-page {
    min-height: 100vh;
    background-color: #008080;
}

.landing {
    min-height: 100vh;
    background-color: #008080;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

/*LOGO STYLES*/
.sleeper {
    font-weight: 700;
    font-size: 60px;
}
.pc {
    color: darkgray;
    font-size: 50px;
}
/*END LOGO STYLES*/

/*LANDING STYLES*/
.cutout-container {
    width: 30%;
    height: 30%;
}
.nav {
    align-items: center;
    justify-content: center;
    margin: 50px;
}
/*END LANDING STYLES*/

/*ERROR STYLES*/
.error-cutout {
    width: 30%;
    height: 50%;
    background-color:#c6c6c6;
}
.error-container {
    margin: 80px;
}
/*END ERROR STYLES*/
/*@keyframes spinner {*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/
/*.loading {*/
/*    width: 6rem;*/
/*    height: 6rem;*/
/*    border: 5px solid;*/
/*    border-radius: 50%;*/
/*    border-top-color: green;*/
/*    animation: spinner 2s linear infinite;*/
/*}*/
